* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    background: rgb(216,226,220);
    background: linear-gradient(180deg, rgba(216,226,220,1) 0%, rgba(255,215,186,1) 100%);

}

header {
    height: 10vh;
    background-color: #d8e2dc5a;
}



section {
    height: 100vh;

    scroll-snap-align: start;
}

.myContainer {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}



.one {

}
.two {
  
}

.three h1 {
    text-align: center;
}

.four {

}

.mybtn {
    background: rgb(216,226,220);
background: linear-gradient(90deg, rgba(216,226,220,1) 0%, rgba(255,215,186,1) 100%);
}
